@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Bungee&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root{
    --primary-color: #330033;
    --white: #ffff
}

body{
    font-size: 2rem;
    line-height: 1.5;
}

h1,h2,h3{
    font-family: "Barriecito", system-ui;
    font-weight: 400;
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.3rem;
}

.main-bg{
    background-image: url('assets/img/constellation.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.main-content{
    max-width: 1200px;
    margin: 0 auto;
}   

.white-bg{
    background-color: var(--white);
    color: var(--primary-color);
}

.section{
    min-height: 100vh;
}

.header{
    position: fixed;
    display: flex;
    background-color: rgb(0, 0, 0);
    min-height: 60px;
    max-height: 70px;
    color: var(--white);
}

.btn-nav, .btn-sign{
    background-color: var(--primary-color);
    font-size: 1.7rem;
    color:var(--white);
    max-height: 60px;
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    border:none
}
.btn-nav:hover{
    cursor: pointer;
    background-color: #5f3a5f;
}
.btn-sign:hover{
    cursor: pointer;
    background-color: #5f3a5f;
}

.text-nav{
    padding-right: 20px;
    margin: 18px;
}


.menu{
    z-index: 1;
    border-bottom: 1px solid #a1a1a1;
    color: #330033;
    top:0;
    left: 0;
    right: 0;
    background-color: var(--white);
    position: fixed;
    width: 100%;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1{
    font-size: 2.3rem;
}
.menu h1 a{
    color: inherit;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{
    display: block;
    padding: 2rem;    
    color: var(--primary-color);
    font-size: 1.8rem;
    font-family: "Barriecito", sans-serif;
    position: relative;
}
.menu ul li a::after{
    content:'';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--primary-color);
    transition: all 300ms ease-in-out ;
}
.menu ul li a:hover:after{
    width: 50%;
    left: 25%;
}

.menu-spacing{
    height: 60px;
}


.intro-text, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-content{
    position: relative;
    top: -10rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: stretch;
    gap:2rem;
    height: 100vh;
}

.intro-content h2{
    line-height: 1;
    font-size: 7rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}

.top-content{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    max-width: 64rem;
    text-align: center;
    margin-top: 20rem;
}
.top-content h2{
    line-height: 1;
    font-size: 7rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}
.top-content p{
    font-size: 2.5rem;
    margin-top: 3rem;
}

