*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(240, 255, 250);
}
.nav{
    max-width: 900px;
    height: 60px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    padding: 2rem 1rem;
    background-color:rgb(209, 162, 253) ;
    overflow: auto;
    margin: 0 auto;
}
.nav:hover{
    background-color: aquamarine;
}
.texto{
    display: block;
    padding: 2rem 1rem;
    background-color:rgb(162, 253, 165) ;
}
p:not(.paragrafo){
    background-color: rgb(65, 165, 170);
}
input:checked + p{
    background: rgb(0, 0, 0);
}

ul li:nth-child(odd){
    background-color: rgb(226, 95, 95);
}
ul li::after{
    content: ' - ';
}
/* pseudo classe ':' */
/* pseudo elemento '::' */